@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white !important;
    font-family: 'Inter', sans-serif !important;
    min-height: 100vh;
}

#root {
    min-height: 100vh !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}

main {
    flex: 1 0 auto !important;
}

footer {
    flex-shrink: 0 !important;
}